<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!--Main Content-->

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"></h1>
      <p><%=paratxt %></p>

<div class="about-section">
  <h1>About me page</h1>
  <p>My name is Alessandro Santos I am Software engine student</p>
  <p>I am focus on the project to be a good Software development</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="./Content/Ale.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Alessandro Santos</h2>
        <p class="title">Sotware Eng. St</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>alesantos3408@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  
  </div>
</div>

    </div>
  </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
