<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!--Main Content-->

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"></h1>
      <p><%=paratxt %></p>

<div class="about-section">
  <meta charset="utf-8">
        <div class="container">
          <div class="row">
            <div class="col align-self-center">
              <p> Let me give a brief introduction about myself, my name is Luiz Guilherme Mattos, i'm a 27 years old student of
                Software Engineering - Artificial Intelligence (Fast-Track Program) at <a href= "https://www.centennialcollege.ca/programs-courses/full-time/artificial-intelligence-fast-track/" target="_blank"><b>Centennial College.</a></b></p> <!-- Link to Centennial website -->
              <p>I'm from Brazil more precisely Macaé, Rio de Janeiro and decided to start learning about software way back when I was about the age of 15 or before. 
                  My first contact with code was with C++, on the time I felt it really challenging and started to find a new hobby. 
              </p>
              <p>I have a passion for technology and therefore I'm always trying to learn more about in order to not fall behind throughout all new technologies.</p>
              <p> Here you can find a PDF of my <a href="/Content/Alessandro-Santos.pdf" target="_blank">resume.</a></p>
              </div>
            <div class="col align-self-end">
              <img class="myself" src="/Content/ale.jpg" alt="picture of myself style=""">     <!-- link to image of about me-->
            </div>
          </div>
        </div>

    </div>
  </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
