<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!--Main Content-->
<head>
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"></h1>
      <p><%=paratxt %></p>
      <h1>Welcome to cotact  </h1>
<div class="contact-section">
  <meta charset="utf-8">
  </head>
       <bod>
       <div class="form-container">
       <form class="contact-form">
       <h2>Contact</h2>
       <imput type="text" id="name" placeholder="Full name"></imput>
       <imput type="email" id="email" placeholder="Email"></imput>
       <imput type="test" id="subject" placeholder="Subject"></imput>
       <textarea id="message" placeholder="message" cols="30" rows="10"></textarea>
       
       </form>      
       </div>
       </bod>

    </div>
  </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
