<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!--Main Content-->
<head>
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"></h1>
      <p><%=paratxt %></p>
      <h1>Welcome to cotact web page </h1>

<div class="contact-section">
  <meta charset="utf-8">
  <link rel="stylesheet" href=/css/>style">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="http://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <meta name="vieport" content="width=device-
  </head>
       <bod>
       <div class="form-container">
       <form class="contact-form"><br>
       <h2>Contact</h2>
       <input type="text" id="name" placeholder="Full name"></input><br>
       <input type="email" id="email" placeholder="Email"></input><br>
       <input type="test" id="subject" placeholder="Subject"></input><br>
       <textarea id="message" placeholder="message" cols="30" rows="10"></textarea><br>
       <input type="submit" class="submit" value="Send your message"><br>
       </form>      
       </div>
       </bod>

    </div>
    <script src="/partial/css.ejs"></script>
  </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
