<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!--Main Content-->
<head>
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"></h1>
      <p><%=paratxt %></p>
      

<div class="contact-section">
  <meta charset="utf-8">
  <link rel="stylesheet" href=/css/style.css>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="http://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <meta name="vieport" content="width-device-width, initial-scale=1.0">
  </head>
       <bod>
      <h3 class="display-5">Please follow me at social media:</h3>

        <th><p><i class="fab fa-lg fa-instagram"></i> Instagram:<a href= "https://www.instagram.com/alex_rio_40/" target="_blank"> <b>@alex_rio_40 </a></b></p></th>
        <th><p><i class="fab fa-lg fa-linkedin"></i> linkedin:<a href= "https://www.linkedin.com/in/alessandro-s-36316a17a/" target="_blank"> <b>Alessandro-Santos </a></b></p></th>
        <p><i class="fab fa-lg fa-git"></i> Github: <a href= "https://github.com/adasil31" target="_blank"><b>adasil31</a></b></p>
      
       <div class="form-container">
       <form class="contact-form"><br>
       <h4>Questions? Send me your email </h4>
       <input type="text" id="name" placeholder="Enter your name"></input><br>
             <input type="email" id="email" placeholder="Email"></input><br>
       <input type="test" id="subject" placeholder="Subject"></input><br>
       <textarea id="message" placeholder="message" cols="100" rows="5"></textarea><br>
       <input type="submit" class="submit" value="Send your message"><br>
       </form>      
       </div><br>
         <p><i class="fas fa-lg fa-mobile-alt"></i> Phone: <b>647-865-6094</b></p> 
         <p><i class="fas fa-lg fa-house-alt"></i> Address: <b>33 Charles Street Est - Toronto - ON - Canada - M4Y OA2</b></p> 
       </bod>

    </div>
    <script src="views/style.css"></script>
  </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
