<!--Created by: Alessandro da Silva Santos - Created on: Jun 04, 2021 - 300927354-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!--Main Content-->
<!--Home page -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%=paratxt %></h1>
      <hr style="border-style:solid; border-color:#d3d3d3; border-width:2px;">
      <h1>  Welcome to Alessandro Santos webpage </h1><br>
<div class="project-section">
  <meta charset="utf-8">
        <div class="container">
          <div class="row">
            <div class="col align-self-center">
              <p> * Advanced level in modern Javascript and libraries/frameworksReact, Hooks, Redux  </p> 
              <p>  * Experience in leader projects in Agile team from creating user stories from business requirements.</p>
              <p>* Data Analysis using relational SQL and NoSQL database.</p>
              <p> * Proven leadership, interpersonal and collaboration skills. </p>
              </div>
              
            <div class="col align-self-end">
           

                <!-- Where I put my picture-->
                 
            </div>
          </div>
        </div>

    </div>
     <hr style="border-style:solid; border-color:#d3d3d3; border-width:2px;">
  </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>