<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!--Main Content-->

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"></h1>
      <p><%=paratxt %></p>
      <h1>P </h1>
<div class="project-section">
  <meta charset="utf-8">
        <div class="container">
          <div class="row">
            <div class="col align-self-center">
              <p> I am work in some project at Centennial College that is about:</p>
              <p>To creat a application that will help people to hiring a professional to solve their problemas at home and the customer will have direct accedd to the profissional 
              that will explain and help to fix the problem trhoug video conference</p>
              
              </div>
            <div class="col align-self-end">

                <!-- Where I put my picture-->
              <img class="myself" src="/Content/Scope.jpg" style="width:80%">     
            </div>
          </div>
        </div>

    </div>
  </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
