<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!--Main Content-->

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"></h1>
      <p><%=paratxt %></p>
      <h1>About me page </h1>
<div class="project-section">
  <meta charset="utf-8">
        <div class="container">
          <div class="row">
            <div class="col align-self-center">
              <p> lrVzmucKHCqE5wLS0xq2od3K1x8o82FUN6fd1uIYCMxa_8aAsdnEALw_wcB&gclsrc=aw.ds/" target="_blank"><b>Centennial College.</a></b></p> <!-- Link to Centennial website -->
              <p>I am from Brazil but I moved to Canada 10 years ago and I have both nationalities. I was born in Rio de Janeiro and 
                  I never had experience in computer science but always makes me have the curiosity to understand the software and how a system works.  
              </p>
              <p>I love to learn new technology that all-time change and I am open mind to find an increase in my career and get involved in new technologies. </p>
              <p> Please click in the link to check my <a href="/Content/Alessandro-Santos.pdf" target="_blank">resume.</a></p>
              </div>
            <div class="col align-self-end">

                <!-- Where I put my picture-->
              <img class="myself" src="/Content/ale.jpg" style="width:80%">     
            </div>
          </div>
        </div>

    </div>
  </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
