<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!--Main Content-->

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"></h1>
      <p><%=paratxt %></p>
      <h1 >Projects  </h1><Br>
<div class="project-section">
  <meta charset="utf-8">
        <div class="container">
          <div class="row">
            <div class="col align-self-center">
        
              <p>I am working in a project that will help people to creat a application that will help people to hiring a professional to solve their problemas at home and the customer will have direct accedd to the profissional 
              that will explain and help to fix the problem trhoug video conference</p>
              <li><i class="fab fa-lg fa-javascript"></i> <b>Bug smash</b></li>
              <p>Another project that I finished was in Javascript at Centennial College where I created a game that is possible to smash a littly bug, If you want to see the project
               please click on the link <a href="http://studentweb.cencol.ca/adasil31/assigment5JavaSc/assigment5.html" target="_blank"<b>Bug smash</b></a></p>
              <img class="smash" src="/Content/smach.jpg" style="width:100%"> <br><br>

              <li><i class="fab fa-lg fa-javascript"></i> <b>Form</b></li>

                  <p>Other project that I finished was a form that is possible to fill the information and them the information is send to the system and display 
                  everthing that was created in Javascript <a href="http://studentweb.cencol.ca/adasil31/assigment5JavaSc/assigment5.html" target="_blank" <b>Bug smash</b></a></p>
              
              <img class="smash" src="/Content/form.jpg" style="width:100%">

              </div>
            <div class="col align-self-end">

                <!-- Where I put my picture-->
               
            </div>
          </div>
        </div>

    </div>
  </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
