<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!--Main Content-->

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"></h1>
      <p><%=paratxt %></p>
      <h1>About me page </h1>
<div class="project-section">
  <meta charset="utf-8">
        <div class="container">
          <div class="row">
            <div class="col align-self-center">
              <p> Advanced level in modern Javascript and libraries/frameworks ( React, Hooks, Redux)  </p> 
              <p>  Experience in leader projects in Agile team from creating user stories from business requirements.
              </p>
              <p>Data Analysis using relational SQL and NoSQL database.</p>
              <p> Proven leadership, interpersonal and collaboration skills. </p>
              </div>
            <div class="col align-self-end">

                <!-- Where I put my picture-->
              <img class="myself" src="/Content/serv.jpg" style="width:50%">     
            </div>
          </div>
        </div>

    </div>
  </main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
